.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.7); /* Warna putih transparan */
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 30px; /* Ukuran font lebih besar */
    z-index: 10;
}

.prev:hover, .next:hover {
    color: rgba(255, 255, 255, 1); /* Warna panah lebih terang saat hover */
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
